body {
    background-color: #000000;
}

.container {
    max-width: 500px;
    margin: 200px auto;
    background-color: #f30ca600;
    border-radius: 15%;
    box-shadow: 10 10 10px rgb(254, 8, 8);
}

h1 {
    text-align: center;
    font-style: italic;
    color: #fb1a1a;
    font-size:65px;
    background-image:50px;
}

.names-input {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f4f4f4;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: large;
    background-color: red;
    margin-bottom: 20px;
    border: .5px solid #f60f0f;
    border-radius: 135px;
}
button {
    width: 100%;
    padding: 20px;
    margin-bottom: auto;
    background-color: #ff0505;
    font-size: large;
    color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 115px;
    cursor: pointer;
}

button:hover {
    background-color: #ff057e;
}

#result {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ff0404;
}